/* Homepage */	

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
}

ui-view {
	width:100%;
	height:100%;
	margin: 0 auto;
	font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
	display: block;
}
/*
.breath-div {
	width: 100vw;
	height: 100vh;
	padding:0;
	margin: 0;
	background-color: blue
}*/

.landing-page-button {

}

#navigation {
	width:100vw;
	height: 40px;
	font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
	background-color: #B1F1FF;
}

#navigation img {
	  padding: 8px 0 0 18px;
    height: 21px;
}

#nav-heading {
		margin: 0;
    font-weight: 100;
    font-size: 17px;
    position: relative;
    left: 67px;
    top: -26px;
}

#welcome-div {
	  width: 41.015625vw;
    height: 31.7vh;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 22%;
    font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
}

h1 {
	border-bottom: solid;
	border-bottom-color: #B1F1FF;
	font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
	font-weight: 100;
	/*(38(font in pixels)/1280)*100*/
	font-size: 38px;
}

.landing-page-dropdown {
	display:inline-block;
}

.landing-page-buttons {
	  font-size: 18px;
    color: black;
    text-decoration: none;
}

#sign-in {
	 	background-color: #5EC7A4;
    padding: 21.5px 85px;
    position: relative;
    top: 62px;
    right: 36px;
    border-radius: 18px;
}

#guest {
	  background-color: #B1F1FF;
    position: relative;
    left: 35px;
    top: 62px;
    padding: 22px 36px;
    border-radius: 18px;
}

#create-account {
	  position: relative;
    top: 123px;
    left: 2px;
    font-size: 14px;
    text-decoration: none;
}

#homepage-nav-dropdown {
	display:none;
}

/* Breath Page */

.bubble {
	border-radius: 50% ;
	display: inline-block;
	height: 29.6875vw;
  width: 29.6875vw;
  font-size:28px;
}

.inhale-bubble {
    position: relative;
    top: 153px;
    left: 151px;
    background-color: rgba(255,87, 79, .6);
}

.inhale-bubble p {
	  position: relative;
    top: 10.8vw;
    left: 12vw;
    /*font-size: 28px;*/
    font-style: light;
    font-weight: 100;
}

.exhale-bubble {
	  height: 29.6875vw;
    width: 29.6875vw;
    position: relative;
    left: 28.9vw;
    top: 12vw;
    background-color: rgba(177, 184, 255, .6);

}

.exhale-bubble p {
	position: relative;
    top: 10.8vw;
    left: 11.5vw;
}


/*Practice Page */

#session-info {
	background-color: whitesmoke;
  width: 50vw;
  height:100vw;
  display: inline-block;
}

#session-info-header {
	  margin: 0;
    position: relative;
    top: 6.4vw;
    left: 5.1vw;
    border-bottom: solid;
    border-bottom-width: thin;
    border-color: rgba(94, 199, 164, .6);
    text-align: center;
    width: 39vw;
    padding: 6px;
}

#recommendation-header {
	  margin: 0;
    width: 37.5vw;
    padding: 10.5px;
    font-weight: 100;
    font-size: 26.7px;
    text-align: center;
    position: relative;
    top: 5.7vw;
    left: 5.5vw;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: white;
}

#recommendationContent {
		margin-top: 8.2vw;
    font-size: 25px;
    text-align: center;
}

#session-info h2 {
	  font-weight: 100;
    font-size: 27.5px;
    margin: 0;
    position: relative;
    bottom: 0.5vw;
    right: 0.3vw;
   /* position: relative;
    top: 4.5vw;
    left: 19.1vw;*/
}

#session-info h3 {
	margin:0;
	font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
	  font-weight: 100;
    font-size: 23px;
    text-align: center;
    position: relative;
    /* left: 19vw; */
    top: 10.8vw;
}

#session-stats {

}

#breath-label {
	  display: block;
    width: 17vw;
    margin: 0;
    /*position: absolute;
    top: 23.2vw;
    left: 11vw;*/
    padding:0;
    font-size: 18pt;
    position: absolute;
    top: 22.5vw;
    left: 10.3vw;
}

#breath-label li {
	list-style-type: none;
	margin: .8vw;
}

#average-num {
	display: block;
  width: 17vw;
  margin: 0;
  padding: 0;
  font-size: 18pt;
  position: absolute;
  left: 34.5vw;    
  top: 22.4vw;
}

#average-num li {
	margin: .8vw;
	list-style-type: none;
}

#recommendation-info {
	width:50vw;
	height:100vw;
	display: inline-block;
	float: right;
	background-color:rgba(94, 199, 164, .6);
}