/* Homepage */	

body, html {
	position: absolute;
	/*overflow: hidden;*/
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
}

.body-view {
	position: absolute;
	width:100vw;
	height:100vh;
	margin: 0 auto;
	/*font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;*/
	display: block;
	text-align: center;
}

/*
.breath-div {
	width: 100vw;
	height: 100vh;
	padding:0;
	margin: 0;
	background-color: blue
}*/


#navigation {
	width:100vw;
	height: 40px;
	font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
	background-color: #B1F1FF;
}

#navigation h2 {
		font-weight: 100;
    font-size: 1em;
    color: black;
    position: absolute;
    top: -5px;
    left: 70px;
}

#navigation h2 a {
	text-decoration: none;
	color: black;
}

#navigation img {
	  padding: 8px 0 0 18px;
    height: 21px;
    transition: transform 400ms ease;
    transform-origin: 70% 50%; 
    /*transform-origin: top right;*/
}

#navigation img:hover {
	transform: rotate(90deg);
	display:block;
}

/*#nav-heading {
		margin: 0;
    font-weight: 100;
    font-size: 17px;
    position: relative;
    left: 67px;
    top: -26px;
}*/

#welcome-div {
	  width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 16%;
    text-align: center;
    display: block;
    font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
}

#welcome-div h1, #sign-up-welcome {
	border-bottom: solid;
	border-bottom-color: #B1F1FF;
	padding-bottom: 0.5%;
	font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
	font-weight: 100;
	/*(38(font in pixels)/1280)*100*/
	font-size: 38px;
	width:80%;
	margin: 0 auto;
}

.landing-page-dropdown {
	display:inline-block;
}

.landing-page-buttons a button {
	  font-size: 18px;
    color: gray;
    text-decoration: none;
    width: 225px;
    height: 70px;
    margin-top: 5.6%;
    border: none;
    border-radius: 18px;
}

#sign-in {
	 	background-color: #5EC7A4;
	 	margin-right: 5.4%;
   /* padding: 21.5px 85px;
    position: relative;
    top: 62px;
    right: 36px;
    border-radius: 18px;*/
}

#guest {
	  background-color: #B1F1FF;
   /* position: relative;
    left: 35px;
    top: 62px;
    padding: 22px 36px;
    border-radius: 18px;*/
}

.create-account {
	  margin-top: 7.1%;
    font-size: 14px;
    color: gray;
  	font-size: 13.4px;
}

#homepage-nav-dropdown {
	visibility: hidden;
	  /* height: 172px;
	    width: 233px;
    transition: height 0.4s;
    border-right: solid;
    margin: 0;
    padding: 0;
	transition: height 0.4s;*/
}

#navigation img:hover ~ #homepage-nav-dropdown, #homepage-nav-dropdown:hover {
	visibility: visible;
	display: block;
	width: 18.2vw;
  height: 13.6vw; 
  min-height: 124px; 
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-right: solid rgba(177, 241, 255, .6);
  border-bottom: solid rgba(177, 241, 255, .6);
}

#navigation img:hover ~ #homepage-nav-dropdown li {
	margin: 0 auto;
	padding: 1.5606060606vw;
	padding-bottom: 0.7vw;
}


#homepage-nav-dropdown li {
	  width: 60px;
    font-size: 1.2em;
    padding: 1.5vw;
    padding-bottom: 0.7vw;
    margin-bottom: 2.5vw;
    border-bottom: solid rgba(177, 241, 255, .6);
    text-align: left;
    margin: 0 auto;

}



/*//////////////
//Breathe Page//
/////////////*/

.breath-div {
	width: 100%;
	height: 100%;
	overflow: auto;
	text-align: center;
}

.recommendation {
	clear: both;
	width: 100vw;
	margin: 0 auto;
	/*height: 150px;*/
}

.breath-div a {
	  text-decoration: none;
    /*float: left;  Like position absolute, but everything pulls to given direction
    clear: both; /* Allows no neighbors right or left, but still floats*/
    margin-left: 28.853107vw;
    margin-right: 29vw;
    font-size: 1em;
    margin: 0 auto;
}

.bubble {
	border-radius: 50% ;
	display: inline-block;
	height: 29.6875vw;
  width: 29.6875vw;
  font-size:2.1875vw;
  float: left;
  margin-left: 11.541666vw;
  margin-top: 0.5%;
  text-align: center;
  color: gray;
  font-weight:100;
}

.instructions {
	font-size: 1.4vw;
	margin-top: 8%;
}

.instructions p {
	display: inline-block;
	margin-left: 19.8%;
	margin-right: 12.1%;
}



#inhale-bubble {
    background-color: rgba(255,87, 79, .6);
}


#inhale-bubble p {
    /*font-size: 28px;*/
    font-weight: 100;
}

#exhale-bubble {
	margin-left: 17.5%;
	  height: 29.6875vw;
    width: 29.6875vw;
    background-color: rgba(177, 184, 255, .6);

}


.label {
	margin-top: 45%;
}

.remove-display {
	visibility: hidden;
}

.breath-animation {
	-webkit-animation-name: stretch;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 0;
	-webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
  -webkit-animation-play-state: running;
}

@-webkit-keyframes stretch {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}


.inhale-class {
  animation: moveinhale 2s alternate;
  animation-direction: normal;
  animation-fill-mode: forwards;
 animation-timing-function:cubic-bezier(.57,.67,.09,0);
}

.exhale-class {
  animation: moveexhale 2s alternate;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function:cubic-bezier(.57,.67,.09,0);
}

@keyframes moveinhale {
  0% {
    transform: translate(0, 0) scale(1);    
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: translate(79%, 0);
    background: rgba(204, 153, 153, .6);
  }
}

@keyframes moveexhale {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: translate(-80%, 0);
    background: rgba(204, 153, 153, .6); 
  }
}


/*//////////////
/Practice Page/
/////////////*/

#session-info {
	background-color: whitesmoke;
  width: 50vw;
  height:100vh;
  display: inline-block;
}

#session-info-header {
	  margin: 0 auto;
	  margin-top: 11%;
    border-bottom: solid;
    border-bottom-width: thin;
    border-color: rgba(94, 199, 164, .6);
    text-align: center;
    width: 39vw;
    padding: 2%;
}

#recommendation-header {
	  margin: 0 auto;
	  margin-top: 11%;
    width: 37.5vw;
    padding: 2%;
    font-weight: 100;
    font-size: 26.7px;
    text-align: center;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: white;
}

#recommendationContent {
		margin-top: 8.07vw;
    font-size: 25px;
    text-align: center;
}

#session-info h2 {
	  font-weight: 100;
    font-size: 27.5px;
    margin: 0;
}

#session-info h3 {
	margin:0;
	margin-top: 9%;
	font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
	  font-weight: 100;
    font-size: 23px;
    text-align: center;
}

#session-stats {

}

#breath-label {
	  display: block;
    width: 17vw;
    margin: 0;
    margin-top: 5.7%;
    margin-left: 21%;
    padding:0;
    font-size: 18pt;
}

#breath-label li {
	list-style-type: none;
	margin: .8vw;
}

#average-num {
	display: block;
  width: 17vw;
  margin: 0;
  margin-top: -22%;
  margin-right: -2%;
  padding: 0;
  font-size: 18pt;
  float: right;
}

#average-num li {
	margin: .8vw;
	list-style-type: none;
}

#recommendation-info {
	width:50vw;
	height:100vh;
	display: inline-block;
	float: right;
	background-color:rgba(94, 199, 164, .6);
}

/*//////////////
// Login Page //
/////////////*/

#login-div {
	width: 50%;
	margin: 0 auto;
	text-align: center;

}

#login-welcome {
		width:80%;
		margin: 0 auto;
    font-weight: 100;
    font-size: 40px;
    margin-top: 31%;
    text-align: center;
    border-bottom: solid;
    border-bottom-color: rgba(94, 199, 164, .6);
    border-bottom-width: thin;
    padding-bottom: 0.5vw;
}


#login-form {
	width: 80%;
	margin: 0 auto;
}

.login-fields-block {
	height: auto;
	width: auto;
	overflow: auto;
}

.login-fields {

	margin-top: 15%;
	width: 40%;
	font-size: 25px;
	text-align: center;
	border: none;
  padding-bottom: 1%;
    border-bottom: solid thin rgba(94, 199, 164, .6);
    font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
    font-weight: 100;
}

.login-fields:first-child {
	float: left;

}

.login-fields:last-child {
	float: right;
}

.buttons {
	  width: 112px;
    height: 40px;
    border-radius: 0.7vw;
    background-color: rgba(94, 199, 164, .6);
    border: none;
    font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Verdana, sans-serif;
    font-size: 20.5px;
    font-weight: 100;
    color: gray;
    text-align: center;
    margin-top: -0.3vw;
}

#login-button {
  margin-top: 4.5vw;
}

.create-account-login {
	color: gray;
  font-size: 13.4px;
  margin-top: 2.4%;
}

/* Sign-Up Page */

#sign-up-welcome {
	 text-align: center;
	 margin-top: 7.9%;
	 width: 39.6%;
}


.sign-up-page {
	width: 100%;
	height: 100%;
}

form[name="signUpForm"] {
	width: 50%;
	margin: 0 auto;
}

.sign-up-fields {
	width: 80%;
	margin: 0 auto;
	margin-top: 15.9%;
	font-size: 27px;
  overflow: auto;
}

.sign-up-fields input {
	text-align: center;
    width: 40%;
    min-width: 205px;
    font-size: 24px;
    margin-bottom: 12.8%;
    border: none;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(94, 199, 164, .6);
    padding-bottom: 1%;

}

.right-fields {
	float: right;
}

.left-fields {
	float: left;
}

/*#submit-button {
	  position: relative;
    left: -28vw;
    top: 27.55vw;
}*/

#already-have-account {
	  display: block;
    margin-top: 20px;
    font-size: 0.85em;
}

@media all and (max-width: 1085px) {
  .sign-up-fields input.left-fields, .sign-up-fields input.right-fields {
    float: none;
  }
}

@media all and (max-width: 960px) {
	#sign-in {
		margin-right: 0;
	}
	#exhale-bubble {
		clear: both;
	}

	#inhale-bubble.bubble, #exhale-bubble.bubble {
		margin-left: calc((100vw - 300px) / 2);
		margin-bottom: 2%;
		height: 300px;
		width: 300px;
		font-size: 14px;
	}

	.instructions {
		font-size: 14px;
		text-align: center;
	}

	.instructions p {
		margin: 0;
		display: block;
	}


	@-webkit-keyframes stretch {
  0% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes moveinhale {
  0% {
    transform: translate(0, 0) scale(1);    
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: translate(0, 50%);
    background: rgba(204, 153, 153, .6);
  }
}

@keyframes moveexhale {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: translate(-0, -58%);
    background: rgba(204, 153, 153, .6); 
  }
}

}

@media (max-height: 760px) {

	#navigation {
		margin-bottom: 1%;
	}

	#exhale-bubble.bubble, #inhale-bubble.bubble {
		margin-left: calc((100vw - 200px) / 2);
		width: 200px;
		height: 200px;
	}
}

@media all and (max-width: 888px){
	.bubble {
		margin-bottom: 20px;
	}

}

@media all and (max-width: 670px) {
  #login-welcome {
    width: 100%;
  }
  #login-form {
    width: 100%;
  }
  .login-fields {
    width: 100%;
    display: block;
  }
  .sign-up-fields {
    width: 100%;
  }
  .sign-up-fields input {
    width: 100%;
    display: block;
  }
  #sign-up-welcome {
    width: 49.6%;
  }
}

