<div class="breath-div" tabIndex="0" ng-keydown="spaceDown($event)" ng-keyup="spaceUp($event)" autofocus>



		<div class="instructions">
					<p>{{inhaleInstructions}}</p>
					<p id="exhale-instructions">{{exhaleInstructions}}</p>
		</div>
		<div class="bubble" id="inhale-bubble"><p class="label" id="inhale-label"> Inhale</p></div>
		<div class="bubble" id="exhale-bubble"><p class="label" id="exhale-label"> Exhale</p></div>

	


	<div class="recommendation">
		<a ui-sref="practice" id="recommendation-link">{{recommendation}}</a>
	</div>	
	










</div>
