	
<div id="login-div">
	<h1 id="login-welcome">Welcome to Breathe</h1>

	<div id="login-form">
		<form name="loginForm">
			<div class="login-fields-block">
				<input ng-model="user.username" type="text" class="login-fields" id="username" placeholder="username">
				<input ng-model="user.password" type="password" id="password" class="login-fields" placeholder="password">
			</div>
			<button class="buttons" id="login-button" ng-click="loginUser($event)">Log In</button>
		</form>
	</div>
	<div class="create-account-login">
		<a ui-sref="sign-up">Create an Account</a>
	</div>

<div>{{failedResponse}}</div>
</div>