


<div>
	

	<div id="session-info">
		<div id="session-info-header">
			<h2>{{session}}</h2>
		</div>
		<h3>{{date}}</h3>
		


			<ul id="breath-label">
				<li>Average Inhale:</li> 
				<li>Average Exhale:</li>
				<li>Average Breath:</li> 
			</ul>

			<ul id="average-num">
				<li>{{avgInhale}}</li>
				<li>{{avgExhale}}</li>
				<li>{{avgBreath}}</li>
			</ul>		
	</div>

	<div id="recommendation-info">
		<h2 id="recommendation-header">Your Recommendation</h2>
		<p id="recommendationContent"></p>
	</div>


</div>
