


<div>
	

	<div id="session-info">
		<div id="session-info-header">
			<h2>{{session}}</h2>
		</div>
		<h3>{{date}}</h3>
		


			<ul id="breath-label">
				<li class="breath-item"><span class="left">Average Inhale:</span>  <span class="right">{{avgInhale}}</span></li>
				<li class="breath-item"><span class="left">Average Exhale:</span>  <span class="right">{{avgExhale}}</span></li>
				<li class="breath-item"><span class="left">Average Breath:</span>  <span class="right">{{avgBreath}}</span></li> 
			</ul>


	</div>

	<div id="recommendation-info">
		<h2 id="recommendation-header">Your Recommendation</h2>
		<p id="recommendationContent"></p>
	</div>


</div>
