	

<div>
<h1 id="sign-up-welcome">Welcome to Breathe</h1>
</div>

<div>
<form name="signUpForm">
<input ng-model="user.username" type="text" placeholder="username">
<input ng-model="user.email" type="text" placeholder="email">
<input ng-model="user.password" class="password-fields" type="text" placeholder="password">
<input ng-model="user.confirmPassword" class="password-fields" type="text" placeholder="confirm password">
<button ng-click="createUser()" id="submit-button" type="submit">Sign Up</button>
</form>
</div>

<a ui-sref="login" id="already-have-account">I Already Have an Account</a>

